@import "../../css/animation/waiting"

.learning-material-list
  max-width 590px
  margin: auto
  padding 0 30px
  font-family Inter, sans-serif
  .material-list
    input
      width 0
      height 0
      opacity 0
    label
      padding 0
      div
        border 1px dotted
        border-color #6B7280
        border-radius 16px
        h3
          text-align center
          color #6B7280
          margin 0.5rem
        h3.symbol
          font-size 8rem
          line-height 9rem
          font-weight lighter
        ul
          margin 8px 0
          li
            color #6B7280
            line-height 19px
            padding-block 5px

  .prompt
    margin-top 10px
    padding 10px 28px
    display flex
    justify-content center
    align-items center
    .generate-button
      border-radius 6px
      border none
      background-color coral
      color white
      padding 10px