.waiting {
  background: linear-gradient(-45deg, #0080ff, #004992, #0080ff);
  background-size: 400% 400%;
  animation: Gradient 2.5s ease infinite;
  cursor: default;
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-o-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.main {
  max-width: 590px;
  margin: auto;
  padding: 0 30px;
  font-family: Inter, sans-serif;
}
.main .container input {
  width: 0;
  height: 0;
  opacity: 0;
}
.main .container label {
  padding: 0;
  display: flex;
  justify-content: center;
}
.main .container label .area {
  border: 1px dashed;
  border-color: #6b7280;
  border-radius: 16px;
  padding: 1rem;
}
.main .container label .area .symbol {
  min-height: 8rem;
  min-width: 8rem;
  background-image: url("../../assets/add-file.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.main .container label .area ul {
  margin: 8px 0;
}
.main .container label .area ul li {
  color: #6b7280;
  line-height: 19px;
  padding-block: 5px;
}
.main .prompt {
  margin-top: 10px;
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .prompt button {
  border-radius: 6px;
  border: none;
  background-color: #ff7f50;
  color: #fff;
  padding: 10px;
}
