@import "../../css/animation/waiting"

.learning-material-list
  max-width 590px
  margin: auto
  padding 0 30px
  font-family Inter, sans-serif
  .material-list
    input
      width 0
      height 0
      opacity 0
    label
      padding 0
      display flex
      justify-content center
      .input-area
        border 1px dashed
        border-color #6B7280
        border-radius 16px
        padding 1rem
        .input-symbol
          min-height 8rem
          min-width 8rem
          background-image url("../../assets/add-file.svg")
          background-position center
          background-repeat no-repeat
          background-size contain
          background-origin content-box

        ul
          margin 8px 0
          li
            color #6B7280
            line-height 19px
            padding-block 5px

  .prompt
    margin-top 10px
    padding 10px 28px
    display flex
    justify-content center
    align-items center
    .generate-button
      border-radius 6px
      border none
      background-color coral
      color white
      padding 10px