.flip-card.flipped {
  transform: rotateY(180deg);
}
.flip-card {
  perspective: 1000px;
  width: auto;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 0 30px 50px #bdbdbd;
}
.flip-card div {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  box-sizing: border-box;
  padding: 50px 50px;
  overflow-y: auto;
  --can-scroll: 0; /* initial = false */
  animation: detect-scroll;
  animation-timeline: scroll(self);
}
.flip-card div p {
  user-select: none;
  color: #1e90ff;
}
.flip-card .back {
  background-color: #1e90ff;
  transform: rotateY(180deg);
}
.flip-card .back p {
  color: #fff;
}
@-moz-keyframes detect-scroll {
  from, to {
    overflow-y: hidden;
    --can-scroll: 1; /* space = true */
  }
}
@-webkit-keyframes detect-scroll {
  from, to {
    overflow-y: hidden;
    --can-scroll: 1; /* space = true */
  }
}
@-o-keyframes detect-scroll {
  from, to {
    overflow-y: hidden;
    --can-scroll: 1; /* space = true */
  }
}
@keyframes detect-scroll {
  from, to {
    overflow-y: hidden;
    --can-scroll: 1; /* space = true */
  }
}
