.add-ingredient-form
  box-sizing border-box
  padding 20px 30px 10px
  font-family Inter, sans-serif
  form
    display flex
    justify-content center
    gap 12px
    input
      border-radius 6px
      border 1px solid #D1D5DB
      padding 9px 13px
      box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.05)
      flex-grow 1
      min-width 150px
      max-width 400px
    button
      width 150px
      border-radius 6px
      border none
      font-size 0.875rem
      background-color #141413
      color #FAFAFB
      &::before
        content "+"
        margin-right 5px
