.ingredient-list
  max-width 590px
  margin: auto
  padding 0 30px
  font-family Inter, sans-serif
  ul
    li
      color #6B7280
      line-height 19px
      padding-block 5px
  .recipe
    border-radius 8px
    background-color #F0EFEB
    padding 10px 28px
    display flex
    justify-content space-between
    align-items center
    .description
      h3
        font-size 1.125rem
        font-weight 500
        line-height 24px
      p
        color #6B7280
        font-size 0.825rem
        line-height 20px
    .generate-button
      border-radius 6px
      border none
      background-color coral
      color white
      padding 10px